<!--main-->

<ion-tabs class="tabs-icon-top tabs-positive">
	<ion-tab title="收益" icon="ion-home"  ui-sref="tabs.gains">
		<ion-nav-view name="gains-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="广告" icon="ion-ios-information"  ui-sref="tabs.adviertisement" >
		<ion-nav-view name="adviertisement-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="邀请" icon="ion-ios-world" ui-sref="tabs.invite">
		<ion-nav-view name="invite-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我" icon="ion-ios-world" ui-sref="tabs.PIM">
		<ion-nav-view name="PIM-tab"></ion-nav-view>
	</ion-tab>
</ion-tabs>