.section {
    background-color: @section-bg-color;
    border-bottom: 1px solid @border-color;
    .section-title {
        padding: 10px;
        color: @primary-text--grey-color;
        display: block;
        line-height: 100%;
        font-size: 14px;
    }
    .section-total-money {
        margin: 0 10px;
        color: @primary-text-bule-color;
        padding: 10px 0 15px;
        text-align: center;
        border-bottom: 1px solid @border-color;
        line-height: 100%;
        font-size: 50px;
    }
    .section-gains-two {
        margin: 10px 0;
        height: 60px;
        .col-50 {
            padding: 0 15px;
        }
        .border-left {
            border-right: 1px solid @border-color;
        }
        .title {
            font-size: 14px;
            color: @primary-text--grey-color;
        }
        .money {
            font-size: 20px;
            line-height: 100%;
            padding: 10px 0;
            color: @primary-text-bule-color;
        }
    }
    .section-item {
        position: relative;
        &:active {
            background-color: @primary-bg-color;
        }
        .section-title {
            padding: 10px 0;
        }
        .section-icon {
            width: 35px;
            height: 30px;
            margin: 0 auto;
            background: url("../../images/icon@2x.png") center center no-repeat;
            //  background-size: 350px 114px;
            background-size: 175px 57px;
        }
        #gains-manage {
            //background-position: -0px -54px;
            background-position: -0px -27px;
        }
        #gains-detail {
            //background-position: -77px -27px;
            background-position: -37px -27px;
        }
        #gains-Sign {
            //  background-position: -156px -27px;
            background-position: -77px -27px;
        }
        #gains-Collection {
            //      background-position: -239px -27px;
            background-position: -118px -27px;
        }
    }
    .section-messages-row {
        padding: 0 15px;
        height: 40px;
        line-height: 40px;
    }
    .section-messages {
        width: 25px;
        height: 40px;
        background: url("../../images/icon@2x.png") center center no-repeat;
        background-size: 200px 65px;
        background-position: -180px -27px;
    }
    //invite
    .section-total-money-title {
        color: @primary-text--grey-color;
        font-size: 14px;
    }
    .invite-title {
        text-align: center;
        margin: 20px;
        .invite-title-desc {
            line-height: 35px;
        }
        .invite-title-copy {
            font-size: xx-small;
            color: @primary-text--grey-color;
        }
    }
    .invite-message {
        .message {
            padding: 0 20px;
        }
        .setp {
            border: 1px solid @border-color;
            border-radius: 5px;
            text-align: center;
            padding: 5px;
            margin: 0 5px;
        }
    }
}
//rule
.rule {
    padding: 15px 10px;
    .line-height {
        line-height: 30px;
        .title-one {
            color: @primary-text-bule-color;
        }
        .title-two {
            color: @primary-text--grey-color;
        }
        .title-one-desc {
            font-weight: bold;
            color: @primary-text-bule-color;
        }
        .title-two-desc {
            color: @primary-text--grey-color;
        }
    }
}
//gainsDeatil
.main {
    padding: 0 20px;
}
.gainsDetail {
    text-align: center;
    margin: 20px 15px 0;
    border-bottom: 1px solid @border-color;
    .left-box {
        padding: 10px;
        border-right: 1px solid @border-color;
    }
    .right-box {
        padding: 10px;
    }
    .left-box-left {
        color: @primary-text--grey-color;
    }
    .left-box-left-money {
        color: @primary-text-bule-color;
    }
}
//gains-sign
.section-sign {
    text-align: center;
    padding: 40px 10px 0;
    font-size: 14px;
    .numer {
        color: @primary-text-bule-color;
        font-size: 18px;
    }
}
.sing-img {
    img {
        width: 100%;
        height: 33%;
    }
}
.section-sign-rule{
    
    border: 2px solid @primary-text-bule-color;
    margin: 40px 10px 10px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    color: @primary-text--grey-color;
}
//PIM
.icon-logo{
    background: url(../../images/profile.png);
    background-size: 200px 20px;
    width: 20px;
    position: absolute;
    left: 25;
    top: 8;
    height: 20px;
}
.icon-logo-a{
                 background: url(../../images/head.png);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}
.icon-logo-b{
    background-position: 0px 0px;
}
.icon-logo-c{
    background-position: -22px 0px;
}
.icon-logo-d{
    background-position: -45px 0px;
}
.icon-logo-e{
    background-position: -45px 0px;
}
.icon-logo-f{
    background-position: -67px 0px;
}
.icon-logo-g{
 background-position: -90px 0px;
}
.icon-logo-h{
      background-position: -113px 0px;

}
.icon-logo-i{
    background-position: -136px 0px;
}
.icon-logo-j{
    background-position: -160px 0px;
}
.icon-logo-k{
    background-position: -180px 0px;
}


.profile{
    .item{
        border-color: transparent !important;
    }
    .profile-list-border{
        margin: 0 10px;
    border: transparent;
    border-top: 1px solid;
      border-color: @border-color !important;
        .icon-logo{
            left: 15px;
        }
    
}
}