  <!--个人信息-->

    <div class="bar bar-header bar-positive">
	<h3 class="title">个人信息</h3>
	<div class="buttons position-r0">
		<button class="button button-icon ion-compose">
        </button>
	</div>
</div>
 <ion-view view-title="个人信息">
	<ion-content>
<div id="PIM">
    <div class="content has-header ionic-pseudo">

      <div class="list">

        <a class="item item-icon-left" href="#">
          <i class="icon ion-email"></i>
          Check mail
        </a>
 <div class="item item-divider">         
        </div>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-chatbubble-working"></i>
          基本信息
        </a>
 <div class="item item-divider">         
        </div>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-mic-a"></i>
          最新消息
         
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i>
          Friends
          <span class="badge badge-assertive">0</span>
        </a>

        <div class="item item-divider">
          Activities
        </div>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-beaker"></i>
          Breaking Bad
          <span class="item-note">
            Blue, yellow, pink
          </span>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-music-note"></i>
          Music
          <span class="item-note">
            JT
          </span>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-game-controller-b"></i>
          Games
          <span class="item-note">
            Super Mario
          </span>
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-bag"></i>
          Shopping
          <i class="icon ion-arrow-right-c"></i>
        </a>

      </div>

    </div>
    </div>
    	</ion-content>
</ion-view>

   