 <!--邀请-->

    <div class="bar bar-header bar-positive">
	<h3 class="title">邀请</h3>
	<div class="buttons position-r0">
		<button class="button button-icon ion-compose">
        </button>
	</div>
</div>

<ion-view view-title="忘记密码">
	<ion-content>

		<div class="app_panel main-color mt44 bt1">
			<div class="sum_money">
				$3.1
				<div class="title">
					累计邀请收益
				</div>
			</div>

		</div>

		<div class="gains_section">
			<div class="gains_section_left">
				<div class="money">
					$1
				</div>
				<div class="title">
					每邀请一位好友可获得收益
				</div>
			</div>
			<div class="gains_section_right">
				<div class="money">
					0
				</div>
				<div class="title">
					成功邀请
				</div>
			</div>
		</div>
		<div class="gains_section" style="border: none;">
			<div class="label_title">
				<label for="">我的邀请码:</label>
				<button class="button button-small button-outline button-assertive">
     	9ef22e0d5     	
     </button>
				<!--<div class="copy_message">
     		点击可复制
     	</div>-->
			</div>
			<div class="plr10">
				<button class="button  button-block  btn-red" on-tap="login()">马上赚钱</button>
			</div>
		</div>
		<div class="gains_section" style="border: none;">
			<div class="invite_message plr10">
				邀请小提示:
				<div class="row">
					<div class="col col-33">
						<div class="step">
							<div>
								第一步
							</div>
							<div>
								点击立即邀请
							</div>
						</div>

					</div>
					<div class="col col-33">
						<div class="step">
							<div>
								第二步
							</div>
							<div>
								分享给好友
							</div>
						</div>
					</div>
					<div class="col col-33">
						<div class="step">
							<div>
								第三步
							</div>
							<div>
								邀请码给好友
							</div>
						</div>
					</div>
				</div>
				<div class="invite_note">
					注 : 好友输入您的邀请码并通过身份认证后,您即可获得收益;
				</div>
			</div>
		</div>

		</div>
	</ion-content>
</ion-view>

   